html {
	box-sizing: border-box;
        padding:1em 0;
}
*, *::before, *::after{
	box-sizing: inherit;
}

nav li {
  width: 33.3%;
  text-align: center;
  float: left;
  display: inline-block;
}

nav ol {
  overflow: hidden;
  margin: auto;
  width: 100%;
  padding: 0;
}

nav ol li a {
    display:block;
    color:#000;
    padding:3em
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
  margin: .1;
  color: white;
  padding-bottom: .1em;
}

h2 {
  color: #FFF;
  background-color: #FFF;
  padding: 1em;
  margin: 0;
  text-align: center;
  clear: right
}


header {
  background-color: #FFF;
}

body{
    margin: 0;
    padding: 1.5em 1.5em 0;
    font-family: 'Niconne', cursive;
}


p {
  margin-left: 15px;
}

div {
  background-color: #FFF;

  clear: both
}


.logo {
  width: 100%;
}

.liver {
  width: 50%;
  border: 0;
  float: left;
}

.spag {
  width: 100%;
}

.lasagna {
  width: 50%;
  border: 0;
  float: right;
}

.pizza-main {
    float: left;
    width: 100%;
    clear: left;
}

.inset-right{
	float: right;
	width: 40%;
	clear: right;
}

.clear-it{
	float:right;
	clear: both;
	width: 40%;

}

.p{
	margin-left: 0px;
	clear:right;

}

.p1{
	clear: left;
}

/* background colours */
.bgWhite {background-color:#FFFFFF}
.bgGreen {background-color:#009C73}
.bgRed {background-color:#D13E37}

/* fonts */
.josefin {font-family: 'Josefin Sans', sans-serif;}

/* general styling */
.center {text-align:center}
.bold {font-weight:bold}
.big {font-size:1.5em}
.black {color:#000000}
.white {color:#FFFFFF}
.padding1em {padding:1em}
.width100 {width:100%}

/* specific styling */
h2.soGood {padding:1em}
div.comeOnBy {color:#FFF; text-align:center}
img.googleMap {width:100%}
img.classicPizza {width:100%}
